.post {
  h1 {
    font-size: 6.8rem;
    line-height: 1.3;
    @media (max-width: 700px) {
      font-size: 4.2rem;
    }
    @media (max-width: 375px) {
      font-size: 4.0rem;
    }
  }
  .copy {
    padding: 0 5%;
    box-sizing: border-box;
    line-height: 1.5;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.3rem;
    h2 {
      font-size: 2.0rem;
      // text-shadow: 2px 2px @pencil,
      //              4px 4px darken(@parchment, 10);
      font-variant: small-caps;
      color: @dark;
      padding: 0 10px 0 5px;
      margin-top: 20px;
    }
    h2, h3, h4, h5 {
      color: @dark;
    }
    p {
      padding: 10px 0;
    }
    .highlight {
      margin: 5px 0;
      box-shadow: 8px 10px @black;
      font-size: 1.2rem;
      @media (max-width: 600px) {
        font-size: 1.0rem;
      }
      pre {
        overflow-x: auto;
        padding: 10px;
        box-sizing: border-box;
      }
      code {
        background: none;
      }
    }
    details {
      summary {
        font-variant: small-caps;
        color: @dark;
        transition: background 0.3s;
        &:hover {
          background: @pencil;
        }
      }
    }
  }
}
