<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry Blevins Portfolio</title>
    <meta name="description" content="Henry Blevins' Portfolio">
    <meta name="author" content="Henry Blevins">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <!-- <script src="js/index.js"></script> -->
    <header>
      <div class="navigation">
        <a href="/" class="logo">blevs</a>
        <nav>
          <a href="#">portfolio</a>
          <a href="#">blog</a>
        </nav>
      </div>
    </header>
    <div class="content portfolio">
      <h1>Henry Blevins</h1>
      <section class="pieces">
        <div class="piece">
          <div class="img-container">
            <img src="/img/clunogs.jpg" />
          </div>
          <div class="copy">
            <h2>Example project</h2>
            <p>Here is some text. black asd askdjnaslk makjsdnla sjlnalksdlaksjdlk ma msadkanslkdjas.</p>
            <a>More>></a>
          </div>
        </div>
        <div class="piece">
          <div class="img-container">
            <img src="/img/clunogs.jpg" />
          </div>
          <div class="copy">
            <h2>Clunogs</h2>
            <p>A well-documented, well-tested clojure client library for the uNoGS Netflix api.</p>
            <a>More>></a>
          </div>
        </div>
      </section>
    </div>
    <footer>
      test
    </footer>
  </body>
</html>
